;; shadow-cljs configuration
{:source-paths ["src"]
 :dependencies [
                [org.clojure/core.async "0.6.532"]
                [org.clojure/data.json "0.2.7"]]
 :dev-http {8080 "_public"}
 :builds {
          :frontend {
                     :target :browser
                     :output-dir "_public/js"
                     :modules {:main {:init-fn dread.frontend.app/init}}}
          :backend {
                    :target :node-library
                    :modules {:main {:init-dn dread.backend.core/main}}
                    :output-to "_dist/index.js"
                    :exports-fn dread.backend.core/saySomething}}}
